<%= render "shared/navbar" %>

<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bm| %>
    <h5><%= bm.movie.title %></h5>
    <%= link_to "Delete", bookmark_path(bm), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>

<h4>Add a movie to the list</h4>

<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit %>
<% end %>
