<%= render "shared/navbar" %>

<div class="banner-list">
    <h1><%= @list.name %></h1>
</div>

<div class="content-box">
    <h1>Movies on this list</h1>

    <div class="cards">

        <% @list.bookmarks.each do |bm| %>
            <div class="card-trip">
                <img src="<%= bm.movie.poster_url %>" />
                <div class="card-trip-infos">
                    <div>
                        <div class="card-trip-info-top">
                            <h2><%= bm.movie.title %></h2>
                            <h3><%= bm.movie.rating %></h3>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p><%= bm.movie.overview %></p>
                        <div class="card-trip-info-bottom">
                            <i class="fa-solid fa-quote-left"></i>
                            <h4><%= bm.comment %></h4>
                        </div>
                    </div>
                    <%= link_to "Delete", bookmark_path(bm), class: "btn-ghost-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
            </div>
        <% end %>

    </div>

    <h1>Add a movie to the list</h1>

    <%= simple_form_for [@list, @bookmark], html: { class: "form" } do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit "Add movie", class: "btn-ghost" %>
    <% end %>
</div>